.ChatItemBox {
	margin: 2px;
	padding: 8px;
	border-radius: 16px;
	letter-spacing: 0.032rem;
	line-height: 1.52;
}
.Content {
	padding: 5px 2px;
}
.NickName {
	font-size: 12px;
	font-weight: bold;
	color: #555;
}
.Time {
	color: #aaa;
	font-size: 12px;
}

.menuBtn {
	margin: 0 20px;
	cursor: pointer;
	user-select: none;
	&:hover {
		color: #1890ff;
	}
}
